.area {
  position: relative;
  width: 100%;
  height: 150vh;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.createVoter {
  width: 95%;
  margin: 0 auto;
  margin-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* Three columns with fixed and flexible widths */
  gap: 2rem;
}

.voter {
  background-color: #231e39;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  color: wheat;
  padding: 2rem;
}

.voterInfo {
  position: absolute;
  top: 12rem;
  left: 3rem;
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  background-color: #231e39;
  border-radius: 25px;
  box-shadow: 10px 10px 10px 10px rbga(0, 0, 0, 0.25);
  color: #b3b8cd;
  text-align: center;
}

.voterInfo img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.voterInfo__paragraph {
  background-color: #231e39;
  border-radius: 25px;
  box-shadow: 10px 10px 10px 10px rbga(0, 0, 0, 0.25);
  color: #b3b8cd;
  height: 9rem;
  padding: 1rem;
}

.voterInfo__paragraph p {
  line-height: 1.5rem;
}

.voterInfo__paragraph p span {
  font-size: 12px;
}

/* Side Info */

.sideInfo {
  background-color: #231e39;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  color: #b3b8cd;
  height: 300px;
}

/* .sideInfoBox{
  margin-bottom: 20px;
} */

.sideInfoBox h4 {
  background-color: #9a02ac;
  padding: 0.5rem;
  border-radius: 0.7rem;
}

.sideInfoBox p {
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.sideInfoParagraph {
  padding-top: 2rem;
  padding: 10rem;
  background-color: #9a02ac;
  border-radius: 2rem;
  margin-bottom: 10px;
}

.sideInfoCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card__box {
  line-height: 1.5rem;
  border: 1px solid #9a02ac;
  padding: 0.2rem;
  box-shadow: 10px 10px 10px 10px rbga(0, 0, 0, 0.25);
  border-radius: 0.3rem;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

.createdVoter {
  background-color: #231e39;
  border-radius: 25px;
  box-shadow: 10px 10px 10px 10px rbga(0, 0, 0, 0.25);
  color: #b3b8cd;
  padding: 2rem;
  height: 300px;
}

.voter__container__box {
  text-align: center;
  border: 1px dotted #9a02ac;
  border-radius: 40px;
  padding: 1rem;
}

.voter__container__box p {
  line-height: 0.5s;
  color: white;
}

.voter__container__box__div__info p{
  line-height: 0.5s;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}
.voter__container__box__div__image{
  padding: .5rem;
}

.voter__container h1 {
  line-height: 0.5s;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}

.input__container {
  padding-top: 2rem;
  width: 80%;
  margin: 0 auto;
}

.Button {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (max-width: 45em) {
  .createVoter {
    width: 95%;
    grid-template-columns: 1fr;
  }

  .voter {
    width: 100%;
    padding: 1rem;
  }
  .input__container {
    width: 100%;
  }
  .voterInfo {
    height: 12rem;
    width: 12rem;
    top: 2rem;
    left: 0rem;
    cursor: pointer;
  }

  .voterInfo__paragraph {
    font-size: 12px;
    height: 7.5rem;
  }
}
