.area {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
  }
  
  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
  }
  
  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
  
    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }
  

  .pollDetailPage{
    width: 95%;
    margin: 0 auto;
    margin-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Three columns with fixed and flexible widths */
    gap: 2rem;
  }


  .pollDetailContainer{
    background-color: #231e39;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 2rem;
    width: auto;
  }

  .pollDetailContainer h1{
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .pollDetailContainer p{
    margin-bottom: 2rem;
  }

  .availableVoters{
    background-color: #231e39;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 2rem;
    width: auto;
  }

  .availableVoters h3{
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: .85rem;
    height: 3rem;
    background-color: #9a02ac;
    border-radius: .5rem;
  }
  

  .availableCandidates{
    background-color: #231e39;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 2rem;
    width: auto;
  }

  .availableCandidates h3{
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: .85rem;
    height: 3rem;
    background-color: #9a02ac;
    border-radius: .5rem;
  }

  .voterCard{
    background-color: rgba(255, 255, 255, 0.2);
    height: 2.5rem;
    padding: 1rem;
    border-radius: .5rem;
    /* border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 2rem;
    width: auto; */
  }

  .newPollButton {
    margin-bottom: 2rem;
    margin-left: 6rem;
    align-self: flex-end;
    background-color: transparent;
    border: 1px dotted #ccc;
    padding: 0.5rem 1rem;
    color: #45a049;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
  }
  .newPollButton:hover {
    background-color: #45a049;
    color: #fff;
  }
